<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>2023スポーツフェスティバル</title>
    <script>
        (function(d) {
          var config = {
            kitId: 'ajd4mui',
            scriptTimeout: 3000,
            async: true
          },
          h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
        })(document);
      </script>
    <link rel="stylesheet" href="/css/manage.css">
</head>
<body>
    <div class="main"></div>
        <ul class="header">
        <li class="menu1"><a href="#based">>_基本得点入力</a></li>
        <li class="menu2"><a href="#colors">>_色別得点入力</a></li>
        <li class="menu3"><a href="#control">>_得点修正・減点</a></li>
        <li class="menu4"><a href="#check">>_現在結果閲覧</a></li>
    </ul>
    <div class="border"></div>
        <div id="based"></div>
    <div class="main-title1">>_基本得点入力</div>
    <form action="/classscore" method="post">
        <div class="box">
        <div class="grade">>学年</div>
        <select name="grade">
          <option value="M1">M1</option>
          <option value="M2">M2</option>
          <option value="M3">M3</option>
                  </select>
        <div class="competiton">>競技名</div>
        <select name="competition" class="comp-list">
            <% settings.forEach((settings) =>{ %>
              <option value="<%= settings.competitiontitle %>"><%= settings.competitiontitle %></option>
            <% }); %>

            
        </select>
          </div>
          <div class="point">>各クラス結果</div>
          <div class="box">
          <div class="classes">1組</div>
          <input type="number" name="time1" placeholder="秒数">
          <div class="classes">2組</div>
            <input type="number" name="time2" placeholder="秒数">
            </div>
            <div class="box">
          <div class="classes">3組</div>
          <input type="number" name="time3" placeholder="秒数">
          <div class="classes">4組</div>
          <input type="number" name="time4" placeholder="秒数">
                </div>
        <div class="box">
          <div class="classes">5組</div>
          <input type="number" name="time5" placeholder="秒数">
          <div class="classes">6組</div>
          <input type="number" name="time6" placeholder="秒数">
        </div>
          <div class="box">
          <div class="classes">7組</div>
          <input type="number" class="time7" name="time7" placeholder="秒数">
                  </div>
                <input type="submit" value="更新" class="submits">
              </form>
      <div class="main2"></div>
      <div id="colors"></div>
        <ul class="header">
        <li class="menu1"><a href="#based">>_基本得点入力</a></li>
        <li class="menu2"><a href="#colors">>_色別得点入力</a></li>
        <li class="menu3"><a href="#control">>_得点修正・減点</li>
          <li class="menu4"><a href="#check">>_現在結果閲覧</a></li>
            </ul>
    <div class="border"></div>
            <div class="colors-title">>色別競技結果</div>
            
            <form action="/colorscore" method="post">
              <div class="box">
              <div class="competiton2">>競技名</div>
              <select name="competition" class="comp-list1">
                <% settings.forEach((settings) =>{ %>
                  <option value="<%= settings.competitiontitle %>"><%= settings.competitiontitle %></option>
                <% }); %>
              </select>
                  </div>
                    <div class="point">>各色結果</div>
                    <div class="box">
                      <div class="classes">赤色</div>
                      <input type="number" name="time1" placeholder="秒数">
                      <div class="classes">橙色</div>
                        <input type="number" name="time2" placeholder="秒数">
                        </div>
                        <div class="box">
                      <div class="classes">黄色</div>
                      <input type="number" name="time3" placeholder="秒数">
                      <div class="classes">緑色</div>
                      <input type="number" name="time4" placeholder="秒数">
                            </div>
                    <div class="box">
                      <div class="classes">青色</div>
                      <input type="number" name="time5" placeholder="秒数">
                      <div class="classes">紫色</div>
                      <input type="number" name="time6" placeholder="秒数">
                    </div>
                      <div class="box">
                      <div class="classes">黒色</div>
                      <input type="number" class="time7" name="time7" placeholder="秒数">
                              </div>
                            <input type="submit" value="更新" class="submits">
                </form>
                <div class="main3"></div>
                <div id="control"></div>
                <ul class="header2">
                <div class="box">
                <li class="menu1"><a href="#based">>_基本得点入力</a></li>
                <li class="menu2"><a href="#colors">>_色別得点入力</a></li>
                <li class="menu3"><a href="#control">>_得点修正・減点</li>
                <li class="menu4"><a href="#check">>_現在結果閲覧</a></li>
              </div>
                              </ul>
                            <div class="border"></div>
                <div class="control-title">>_クラス得点修正・タイムペナルティ</div>
                <form action="/classrenew" method="post">
                        <div class="box">
                    <div class="grade">>学年</div>
                    <select name="grade">
                      <option value="M1">M1</option>
                      <option value="M2">M2</option>
                      <option value="M3">M3</option>
                              </select>
                    <div class="competiton">>競技名</div>
                    <select name="competition" class="comp-list">
                        <% settings.forEach((settings) =>{ %>
                          <option value="<%= settings.competitiontitle %>"><%= settings.competitiontitle %></option>
                        <% }); %>
                    </select>
                        </div>
                        <div class="box">
                        <div class="classes">1組</div>
                        <input type="number" name="time1" placeholder="秒数">
                        <div class="classes">2組</div>
                          <input type="number" name="time2" placeholder="秒数">
                          </div>
                          <div class="box">
                        <div class="classes">3組</div>
                        <input type="number" name="time3" placeholder="秒数">
                        <div class="classes">4組</div>
                        <input type="number" name="time4" placeholder="秒数">
                              </div>
                      <div class="box">
                        <div class="classes">5組</div>
                        <input type="number" name="time5" placeholder="秒数">
                        <div class="classes">6組</div>
                        <input type="number" name="time6" placeholder="秒数">
                      </div>
                        <div class="box">
                        <div class="classes">7組</div>
                        <input type="number" class="time7" name="time7" placeholder="秒数">
                                </div>
                              <input type="submit" value="更新" class="submits">
                          </form>
                </div>
                <form action="/classreduce" method="post">
                  <div class="control-title">>_クラス得点減点</div>
                  <div class="box">
                    <div class="grade">>学年</div>
                    <select name="grade">
                      <option value="M1">M1</option>
                      <option value="M2">M2</option>
                      <option value="M3">M3</option>
                              </select>
                    <div class="competiton">>競技名</div>
                    <select name="competition" class="comp-list">
                        <% settings.forEach((settings) =>{ %>
                          <option value="<%= settings.competitiontitle %>"><%= settings.competitiontitle %></option>
                        <% }); %>
                    </select>
                    </div>
                    <div class="box">
                    <div class="reduceclass">>対象クラス</div>
                    <select name="classes" class="reducelist">
                      <option value="first">1組</option>
                      <option value="second">2組</option>
                      <option value="third">3組</option>
                      <option value="fourth">4組</option>
                      <option value="fifth">5組</option>
                      <option value="sixth">6組</option>
                      <option value="seventh">7組</option>
                    </select>
                    <input type="submit" value="更新" class="submit5">
                        </div>
                        
                </form>
          <div class="main3"></div>
          <div id="check"></div>
          <ul class="header2">
            <div class="box">
            <li class="menu1"><a href="#based">>_基本得点入力</a></li>
            <li class="menu2"><a href="#colors">>_色別得点入力</a></li>
            <li class="menu3"><a href="#control">>_得点修正・減点</li>
            <li class="menu4"><a href="#check">>_現在結果閲覧</a></li>
          </div>
            </ul>
            <div class="border"></div>
            <div class="control-title">>_色別得点修正・タイムペナルティ</div>
            <form action="/colorrenew" method="post">
                    <div class="box">
                <div class="competition3">>競技名</div>
                <select name="competition" class="comp-list">
                    <% settings.forEach((settings) =>{ %>
                      <option value="<%= settings.competitiontitle %>"><%= settings.competitiontitle %></option>
                    <% }); %>
                </select>
                    </div>
                    <div class="box">
                    <div class="classes">赤色</div>
                    <input type="number" name="time1" placeholder="秒数">
                    <div class="classes">橙色</div>
                      <input type="number" name="time2" placeholder="秒数">
                      </div>
                      <div class="box">
                    <div class="classes">黄色</div>
                    <input type="number" name="time3" placeholder="秒数">
                    <div class="classes">緑色</div>
                    <input type="number" name="time4" placeholder="秒数">
                          </div>
                  <div class="box">
                    <div class="classes">青色</div>
                    <input type="number" name="time5" placeholder="秒数">
                    <div class="classes">紫色</div>
                    <input type="number" name="time6" placeholder="秒数">
                  </div>
                    <div class="box">
                    <div class="classes">黒色</div>
                    <input type="number" class="time7" name="time7" placeholder="秒数">
                            </div>
                          <input type="submit" value="更新" class="submits">
                      </form>
            </div>
            <form action="/colorreduce" method="post">
              <div class="control-title">>_色別得点減点</div>
              <div class="box">
                <div class="competition3">>競技名</div>
                <select name="competition" class="comp-list">
                    <% settings.forEach((settings) =>{ %>
                      <option value="<%= settings.competitiontitle %>"><%= settings.competitiontitle %></option>
                    <% }); %>
                </select>
                </div>
                <div class="box">
                <div class="reduceclass">>対象クラス</div>
                <select name="classes" class="reducelist">
                  <option value="first">赤色</option>
                  <option value="second">橙色</option>
                  <option value="third">黄色</option>
                  <option value="fourth">緑色</option>
                  <option value="fifth">青色</option>
                  <option value="sixth">紫色</option>
                  <option value="seventh">黒色</option>
                </select>
                <input type="submit" value="更新" class="submit5">
                    </div>
                    
            </form>
        </div>
                        </body>
</html>