<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>2023スポーツフェスティバル</title>
    <script>
        (function(d) {
          var config = {
            kitId: 'ajd4mui',
            scriptTimeout: 3000,
            async: true
          },
          h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
        })(document);
      </script>
    <link rel="stylesheet" href="/css/manage.css">
</head>
<body>
    <div class="main"></div>
        <ul class="header">
        <li class="menu1"><a href="#based">>_基本得点入力</a></li>
        <li class="menu2"><a href="#colors">>_色別得点入力</a></li>
        <li class="menu3"><a href="#control">>_得点修正・減点</a></li>
        <li class="menu4"><a href="#check">>_現在結果閲覧</a></li>
    </ul>
    <div class="border"></div>
        <div id="based"></div>
    <div class="main-title1">>_基本得点入力</div>
    <form action="/classscore" method="post">
        <div class="box">
        <div class="grade">>学年</div>
        <select name="grade">
          <option value="M1">M1</option>
          <option value="M2">M2</option>
          <option value="M3">M3</option>
                  </select>
        <div class="competiton">>競技名</div>
        <select name="competition" class="comp-list">
            <% settings.forEach((settings) =>{ %>
              <option value="<%= settings.competitiontitle %>"><%= settings.competitiontitle %></option>
            <% }); %>

            
        </select>
          </div>
          <div class="point">>各クラス結果</div>
          <div class="box">
          <div class="classes">1組</div>
          <input type="number" name="time1" placeholder="秒数">
          <div class="classes">2組</div>
            <input type="number" name="time2" placeholder="秒数">
            </div>
            <div class="box">
          <div class="classes">3組</div>
          <input type="number" name="time3" placeholder="秒数">
          <div class="classes">4組</div>
          <input type="number" name="time4" placeholder="秒数">
                </div>
        <div class="box">
          <div class="classes">5組</div>
          <input type="number" name="time5" placeholder="秒数">
          <div class="classes">6組</div>
          <input type="number" name="time6" placeholder="秒数">
        </div>
          <div class="box">
          <div class="classes">7組</div>
          <input type="number" class="time7" name="time7" placeholder="秒数">
                  </div>
                <input type="submit" value="更新" class="submits">
              </form>
      <div class="main2"></div>
      <div id="colors"></div>
        <ul class="header">
        <li class="menu1"><a href="#based">>_基本得点入力</a></li>
        <li class="menu2"><a href="#colors">>_色別得点入力</a></li>
        <li class="menu3"><a href="#control">>_得点修正・減点</li>
          <li class="menu4"><a href="#check">>_現在結果閲覧</a></li>
            </ul>
    <div class="border"></div>
            <div class="colors-title">>色別競技結果</div>
            
            <form action="/colorscore" method="post">
              <div class="box">
              <div class="competiton2">>競技名</div>
              <select name="competition" class="comp-list1">
                <% settings.forEach((settings) =>{ %>
                  <option value="<%= settings.competitiontitle %>"><%= settings.competitiontitle %></option>
                <% }); %>
              </select>
                  </div>
                    <div class="point">>各色結果</div>
                    <div class="box">
                      <div class="classes">赤色</div>
                      <input type="number" name="time1" placeholder="秒数">
                      <div class="classes">橙色</div>
                        <input type="number" name="time2" placeholder="秒数">
                        </div>
                        <div class="box">
                      <div class="classes">黄色</div>
                      <input type="number" name="time3" placeholder="秒数">
                      <div class="classes">緑色</div>
                      <input type="number" name="time4" placeholder="秒数">
                            </div>
                    <div class="box">
                      <div class="classes">青色</div>
                      <input type="number" name="time5" placeholder="秒数">
                      <div class="classes">紫色</div>
                      <input type="number" name="time6" placeholder="秒数">
                    </div>
                      <div class="box">
                      <div class="classes">黒色</div>
                      <input type="number" class="time7" name="time7" placeholder="秒数">
                              </div>
                            <input type="submit" value="更新" class="submits">
                </form>
                <div class="main3"></div>
                <div id="control"></div>
                <ul class="header2">
                <div class="box">
                <li class="menu1"><a href="#based">>_基本得点入力</a></li>
                <li class="menu2"><a href="#colors">>_色別得点入力</a></li>
                <li class="menu3"><a href="#control">>_得点修正・減点</li>
                <li class="menu4"><a href="#check">>_現在結果閲覧</a></li>
              </div>
                              </ul>
                            <div class="border"></div>
                <div class="control-title">>_クラス得点修正・タイムペナルティ</div>
                <form action="/classrenew" method="post">
                        <div class="box">
                    <div class="grade">>学年</div>
                    <select name="grade">
                      <option value="M1">M1</option>
                      <option value="M2">M2</option>
                      <option value="M3">M3</option>
                              </select>
                    <div class="competiton">>競技名</div>
                    <select name="competition" class="comp-list">
                        <% settings.forEach((settings) =>{ %>
                          <option value="<%= settings.competitiontitle %>"><%= settings.competitiontitle %></option>
                        <% }); %>
                    </select>
                        </div>
                        <div class="box">
                        <div class="classes">1組</div>
                        <input type="number" name="time1" placeholder="秒数">
                        <div class="classes">2組</div>
                          <input type="number" name="time2" placeholder="秒数">
                          </div>
                          <div class="box">
                        <div class="classes">3組</div>
                        <input type="number" name="time3" placeholder="秒数">
                        <div class="classes">4組</div>
                        <input type="number" name="time4" placeholder="秒数">
                              </div>
                      <div class="box">
                        <div class="classes">5組</div>
                        <input type="number" name="time5" placeholder="秒数">
                        <div class="classes">6組</div>
                        <input type="number" name="time6" placeholder="秒数">
                      </div>
                        <div class="box">
                        <div class="classes">7組</div>
                        <input type="number" class="time7" name="time7" placeholder="秒数">
                                </div>
                              <input type="submit" value="更新" class="submits">
                          </form>
                </div>
                <form action="/classreduce" method="post">
                  <div class="control-title">>_クラス得点減点</div>
                  <div class="box">
                    <div class="grade">>学年</div>
                    <select name="grade">
                      <option value="M1">M1</option>
                      <option value="M2">M2</option>
                      <option value="M3">M3</option>
                              </select>
                    <div class="competiton">>競技名</div>
                    <select name="competition" class="comp-list">
                        <% settings.forEach((settings) =>{ %>
                          <option value="<%= settings.competitiontitle %>"><%= settings.competitiontitle %></option>
                        <% }); %>
                    </select>
                    </div>
                    <div class="box">
                    <div class="reduceclass">>対象クラス</div>
                    <select name="classes" class="reducelist">
                      <option value="first">1組</option>
                      <option value="second">2組</option>
                      <option value="third">3組</option>
                      <option value="fourth">4組</option>
                      <option value="fifth">5組</option>
                      <option value="sixth">6組</option>
                      <option value="seventh">7組</option>
                    </select>
                    <input type="submit" value="更新" class="submit5">
                        </div>
                        
                </form>
          <div class="main3"></div>
          <div id="check"></div>
          <ul class="header2">
            <div class="box">
            <li class="menu1"><a href="#based">>_基本得点入力</a></li>
            <li class="menu2"><a href="#colors">>_色別得点入力</a></li>
            <li class="menu3"><a href="#control">>_得点修正・減点</li>
            <li class="menu4"><a href="#check">>_現在結果閲覧</a></li>
          </div>
            </ul>
            <div class="border"></div>
            <div class="control-title">>_色別得点修正・タイムペナルティ</div>
            <form action="/colorrenew" method="post">
                    <div class="box">
                <div class="competition3">>競技名</div>
                <select name="competition" class="comp-list">
                    <% settings.forEach((settings) =>{ %>
                      <option value="<%= settings.competitiontitle %>"><%= settings.competitiontitle %></option>
                    <% }); %>
                </select>
                    </div>
                    <div class="box">
                    <div class="classes">赤色</div>
                    <input type="number" name="time1" placeholder="秒数">
                    <div class="classes">橙色</div>
                      <input type="number" name="time2" placeholder="秒数">
                      </div>
                      <div class="box">
                    <div class="classes">黄色</div>
                    <input type="number" name="time3" placeholder="秒数">
                    <div class="classes">緑色</div>
                    <input type="number" name="time4" placeholder="秒数">
                          </div>
                  <div class="box">
                    <div class="classes">青色</div>
                    <input type="number" name="time5" placeholder="秒数">
                    <div class="classes">紫色</div>
                    <input type="number" name="time6" placeholder="秒数">
                  </div>
                    <div class="box">
                    <div class="classes">黒色</div>
                    <input type="number" class="time7" name="time7" placeholder="秒数">
                            </div>
                          <input type="submit" value="更新" class="submits">
                      </form>
            </div>
            <form action="/colorreduce" method="post">
              <div class="control-title">>_色別得点減点</div>
              <div class="box">
                <div class="competition3">>競技名</div>
                <select name="competition" class="comp-list">
                    <% settings.forEach((settings) =>{ %>
                      <option value="<%= settings.competitiontitle %>"><%= settings.competitiontitle %></option>
                    <% }); %>
                </select>
                </div>
                <div class="box">
                <div class="reduceclass">>対象クラス</div>
                <select name="classes" class="reducelist">
                  <option value="first">赤色</option>
                  <option value="second">橙色</option>
                  <option value="third">黄色</option>
                  <option value="fourth">緑色</option>
                  <option value="fifth">青色</option>
                  <option value="sixth">紫色</option>
                  <option value="seventh">黒色</option>
                </select>
                <input type="submit" value="更新" class="submit5">
                    </div>
                    
            </form>
            <div class="main3">
            <div class="data-title">>_データ一覧</div>
            <div class="leader-title1">>M1/H1</div>
            <table class="table1">
              <tr>
                  <th class="classname">クラス</th>
                  <% points1.forEach ((points1) =>{ %>
                      <td><%= points1.competition %></td>
                  <% }); %>
                  <td>合計</td>
              </tr>
                  <tr>
                  <th class="classname">1-1</th>
                  <% points1.forEach ((points1) =>{ %>
                      <td><%= points1.first %></td>
                  <% }); %>
                  <td>
                      <% plus1.forEach ((plus1) =>{ %>
                          <%= plus1.first %>
                      <% }); %>
                  </td>
            
              </tr>
              <tr>
                  <th class="classname">1-2</th>
                  <% points1.forEach ((points1) =>{ %>
                      <td><%= points1.second %></td>
                  <% }); %>
                  <td><% plus1.forEach ((plus1) =>{ %>
                      <%= plus1.second %>
                  <% }); %>
                  </td>
                  
              </tr>
              <tr>
                  <th class="classname">1-3</th>
                  <% points1.forEach ((points1) =>{ %>
                      <td><%= points1.third %></td>
                  <% }); %>
                  <td>
                      <% plus1.forEach ((plus1) =>{ %>
                          <%= plus1.third %>
                      <% }); %>
                  </td>
              </tr>
              <tr>
                  <th class="classname">1-4</th>
                  <% points1.forEach ((points1) =>{ %>
                      <td><%= points1.fourth %></td>
                  <% }); %>
                  <td><% plus1.forEach ((plus1) =>{ %>
                      <%= plus1.fourth %>
                  <% }); %></td>
                  
              </tr><tr>
                  <th class="classname">1-5</th>
                  <% points1.forEach ((points1) =>{ %>
                      <td><%= points1.fifth %></td>
                  <% }); %>
                  <td><% plus1.forEach ((plus1) =>{ %>
                      <%= plus1.fifth %>
                  <% }); %></td>
                  
              </tr><tr>
                  <th class="classname">1-6</th>
                  <% points1.forEach ((points1) =>{ %>
                      <td><%= points1.sixth %></td>
                  <% }); %>
                  <td><% plus1.forEach ((plus1) =>{ %>
                      <%= plus1.sixth %>
                  <% }); %></td>
                  
              </tr><tr>
                  <th class="classname">1-7</th>
                  <% points1.forEach ((points1) =>{ %>
                      <td><%= points1.seventh %></td>
                  <% }); %>
                  <td>
                      <% plus1.forEach ((plus1) =>{ %>
                          <%= plus1.seventh %>
                      <% }); %>
                  </td>
              </tr>
          </table>
          <div class="leader-title2">>M2/H2</div>
          <table class="table2">
            <tr>
                <th class="classname">クラス</th>
                    <% points2.forEach ((points2) =>{ %>
                    <td><%= points2.competition %></td>
                <% }); %>
                <td>合計</td>
            </tr>
            <tr>
                <th class="classname">2-1</th>
                <% points2.forEach ((points2) =>{ %>
                    <td><%= points2.first %></td>
                <% }); %>
                <td><% plus2.forEach ((plus2) =>{ %>
                    <%= plus2.first %>
                <% }); %></td>
            </tr>
            <tr>
                <th class="classname">2-2</th>
                <% points2.forEach ((points2) =>{ %>
                    <td><%= points2.second %></td>
                <% }); %>
                <td><% plus2.forEach ((plus2) =>{ %>
                    <%= plus2.second %>
                <% }); %></td>
            </tr>
            <tr>
                <th class="classname">2-3</th>
                <% points2.forEach ((points2) =>{ %>
                    <td><%= points2.third %></td>
                <% }); %>
                <td>
                    <% plus2.forEach ((plus2) =>{ %>
                        <%= plus2.third %>
                    <% }); %>
                </td>
            </tr>
            <tr>
                <th class="classname">2-4</th>
                <% points2.forEach ((points2) =>{ %>
                    <td><%= points2.fourth %></td>
                <% }); %>
                <td><% plus2.forEach ((plus2) =>{ %>
                    <%= plus2.fourth %>
                <% }); %></td>
            </tr><tr>
                <th class="classname">2-5</th>
                <% points2.forEach ((points2) =>{ %>
                    <td><%= points2.fifth %></td>
                <% }); %>
                <td><% plus2.forEach ((plus2) =>{ %>
                    <%= plus2.fifth %>
                <% }); %></td>
            </tr><tr>
                <th class="classname">2-6</th>
                <% points2.forEach ((points2) =>{ %>
                    <td><%= points2.sixth %></td>
                <% }); %>
                <td>
                    <% plus2.forEach ((plus2) =>{ %>
                        <%= plus2.sixth %>
                    <% }); %>
                </td>
                
            </tr><tr>
                <th class="classname">2-7</th>
                <% points2.forEach ((points2) =>{ %>
                    <td><%= points2.seventh %></td>
                <% }); %>
                <td>
                    <% plus2.forEach ((plus2) =>{ %>
                        <%= plus2.seventh %>
                    <% }); %>
                </td>
            </tr>
        </table>
        <div class="leader-title3">>M3/H3</div>
        <table class="table3">
          <tr>
              <th class="classname">クラス</th>
              <% points3.forEach ((points3) =>{ %>
                  <td><%= points3.competition %></td>
              <% }); %>
              <td>合計</td>
          </tr>
          <tr>
              <th class="classname">3-1</th>
              <% points3.forEach ((points3) =>{ %>
                  <td><%= points3.first %></td>
              <% }); %>
              <td><% plus3.forEach ((plus3) =>{ %>
                  <%= plus3.first %>
              <% }); %></td>
          </tr>
          <tr>
              <th class="classname">3-2</th>
              <% points3.forEach ((points3) =>{ %>
                  <td><%= points3.second %></td>
              <% }); %>
              <td>
                  <% plus3.forEach ((plus3) =>{ %>
                      <%= plus3.second %>
                  <% }); %>
              </td>
          </tr>
          <tr>
              <th class="classname">3-3</th>
              <% points3.forEach ((points3) =>{ %>
                  <td><%= points3.third %></td>
              <% }); %>
              <td><% plus3.forEach ((plus3) =>{ %>
                  <%= plus3.third %>
              <% }); %></td>
              
          </tr>
          <tr>
              <th class="classname">3-4</th>
              <% points3.forEach ((points3) =>{ %>
                  <td><%= points3.fourth %></td>
              <% }); %>
              <td><% plus3.forEach ((plus3) =>{ %>
                  <%= plus3.fourth %>
              <% }); %>
          </td>
          </tr><tr>
              <th class="classname">3-5</th>
              <% points3.forEach ((points3) =>{ %>
                  <td><%= points3.fifth %></td>
              <% }); %>
              <td><% plus3.forEach ((plus3) =>{ %>
                  <%= plus3.fifth %>
              <% }); %></td>
          </tr><tr>
              <th class="classname">3-6</th>
              <% points3.forEach ((points3) =>{ %>
                  <td><%= points3.sixth %></td>
              <% }); %>
              <td><% plus3.forEach ((plus3) =>{ %>
                  <%= plus3.sixth %>
              <% }); %></td>
              
          </tr><tr>
              <th class="classname">3-7</th>
              <% points3.forEach ((points3) =>{ %>
                  <td><%= points3.seventh %></td>
              <% }); %>
              <td><% plus3.forEach ((plus3) =>{ %>
                  <%= plus3.seventh %>
              <% }); %></td>
          </tr>
      </table>
      <div class="leader-title4">>色別</div>
      <table class="table4">
        <tr>
        <th class="classname">カラー</th>
        <% colors.forEach ((colors) =>{ %>
            <td>
            <%= colors.competition %>
            </td>
        <% }); %>
        <td>合計</td>
        </tr>
    <tr>
            <th class="classname">赤</th>
            <% colors.forEach ((colors) =>{ %>
                <td>
                <%= colors.red %>
                </td>
                <% }); %>
            <td>
                <% pluscolor.forEach ((pluscolor) =>{ %>
                <%= pluscolor.red %>
                <% }); %>
            </td>
    </tr>
    <tr>
        <th class="classname">オレンジ</th>
        <% colors.forEach ((colors) =>{ %>
            <td>
            <%= colors.orange %>
            </td>
        <% }); %>
            <td>
                <% pluscolor.forEach ((pluscolor) =>{ %>
                    <%= pluscolor.orange %>
                    <% }); %>
            </td>
    </tr>
    <tr>
        <th class="classname">黄</th>
        <% colors.forEach ((colors) =>{ %>
            <td>
            <%= colors.yellow %>
            </td>
        <% }); %>
        <td>
            <% pluscolor.forEach ((pluscolor) =>{ %>
                <%= pluscolor.yellow %>
                <% }); %>
        </td>
    </tr>
    <tr>
        <th class="classname">緑</th>
        <% colors.forEach ((colors) =>{ %>
            <td>
            <%= colors.green %>
            </td>
        <% }); %>
        <td>
            <% pluscolor.forEach ((pluscolor) =>{ %>
                <%= pluscolor.green %>
                <% }); %>
        </td>
    </tr>
    <tr>
        <th class="classname">青</th>
        <% colors.forEach ((colors) =>{ %>
            <td>
            <%= colors.blue %>
        </td>
        <% }); %>
        <td>
            <% pluscolor.forEach ((pluscolor) =>{ %>
                <%= pluscolor.blue %>
                <% }); %>
        </td>
    </tr>
    <tr>
        <th class="classname">紫</th>
        <% colors.forEach ((colors) =>{ %>
            <td>
            <%= colors.purple %>
        </td>
        <% }); %>
        <td>
            <% pluscolor.forEach ((pluscolor) =>{ %>
                <%= pluscolor.purple %>
                <% }); %>
        </td>
    </tr>
    <tr>
        <th class="classname">黒</th>
        <% colors.forEach ((colors) =>{ %>
            <td>
            <%= colors.black %>
        </td>
            <% }); %>
            <td>
                <% pluscolor.forEach ((pluscolor) =>{ %>
                    <%= pluscolor.black %>
                    <% }); %>
            </td>
    </tr>
</table>
<div class="leader-title4">>_競技結果</div>
<table class="comp-logs">
  <tr>
      <th class="comp-title">競技名</th>     
      <th class="first">一組記録</th>
      <th class="second">ニ組記録</th>
      <th class="third">三組記録</th>
      <th class="fourth">四組記録</th>
      <th class="fifth">五組記録</th>
      <th class="sixth">六組記録</th>
      <th class="seventh">七組記録</th>
  </tr>
      <% compresults.forEach((settings) =>{ %>
      <tr>
      <td><%= settings.compname %></td>
      <td><%= settings.time1 %></td>
      <td><%= settings.time2 %></td>
      <td><%= settings.time3 %></td>
      <td><%= settings.time4 %></td>
      <td><%= settings.time5 %></td>
      <td><%= settings.time6 %></td>
      <td><%= settings.time7 %></td>
  </tr>
                  <% }); %> 
      </table>
          </div>
                            </div>
                        </body>
</html>